/* Define CSS Variables */
:root {
    --primary-color: hwb(0 0% 20%);   /* Primary color */
    --secondary-color: hwb(134 0% 69%); /* Secondary color */
    --accent1-color: hsl(0, 0%, 100%);   /* Accent color 1 */
    --accent2-color: #000000;   /* Accent color 2 */
    --light-text-color: hsl(0, 0%, 100%); /* Light text color for dark backgrounds */ 
    --dark-background: #040404ce; /* Dark background */
    --heading-font: 'Playfair Display', serif;
    --text-font: 'Roboto', sans-serif;
    --threecol: h
}

* {
    margin: 10;
    padding: 0;
    box-sizing: border-box;
}

header {
    margin: 0.1rem;
    display: grid;
    align-items: center;
    grid-template-columns: 100px 1fr;
    grid-gap: 800px;
    background-color: var(--primary-color);

}

header img {
    margin: 0.5rem 0.1rem 0.5rem 10rem;
    width: 100px;
    height: auto;
}

main img {
    width: 2000px;
    height: 500px;
    padding: 10px;
}

figure img {
    padding: 0.1rem;
    width: 100px;
    height: 50px;
}
main article img {
    width: 250px;
    height: auto;
    position: relative;
    float: right;
}

h2 {
    margin: 0.1rem;
    color: white;
    text-align: center;
    border: 0.1rem;
    padding: 0.1rem;
    background-color: rgb(198, 1, 1);
}

.threecols {
    display: grid;
    grid-template-columns: (1fr 2fr 100px);
    text-align: justify;
    color: #000;
    text-wrap: wrap;
    align-items: center;
}

.threecols h2 {
    grid-column: 1/4;
}
article p {
    margin: 100;
}
header nav a {
    display: inline;
    color: var(--dark-background);
    flex-shrink: 10px;
    font-weight: bold;
    padding: 10px;
    background-color: aliceblue;
    text-decoration: none;
}
section h2 div img {
    margin: 0rem;
    padding: 0rem;
    
}
nav a:hover {
    color: var(--secondary-color);
    font-weight: bolder;
    text-decoration: underline;
}

header nav {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    text-align: center;
}

.hero {
    position: relative;
}

.herodiv img {
    display:1000px;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    width: 92rem;
    top: 10px;
    right: 0px;
    font-size: 50px;
    color: var(--light-text-color);
    background-color:var(--dark-background);
    text-align: center;
}

article {
    position: absolute;
    bottom: 150px;
    right: 300px;
    background-color: rgba(6, 44, 114, 0.6);
    padding: 5px;
    max-width: 940px;
}

article p {
    color: var(--light-text-color);
}

article img {
    float: right;
    width: 170px;
    height: auto;
    padding: 5px;
}

section {
    margin: 2rem auto;
}

.flex-container {
    display: flex;
    width: 800px;
    flex-direction: row;
    justify-content: space-around;
}

section h2 {
    text-align: center;
    font-size: 2rem;
    word-spacing: 5px;
    font-family: var(--heading-font);
    color: var(--accent1-color);
}

h2 img {
    margin: 0.1rem;
}
section p {
    margin: 0 1rem 0 1rem;
    font-family: var(--text-font);
    color: var(--primary-color);
}

section img {
    display: block;
    margin: 0.5rem auto;
    width: 300px;
    height: auto;
    border: 3px solid var(--primary-color);
    box-shadow: 0 0 20px var(--primary-color);
}

section figcaption {
    text-align: center;
}
footer {
    margin: 0.1rem auto;
    display: grid;
    grid-template-columns: 300px 15fr 300px;
    align-items: center;
    background-color: var(--primary-color);
}

footer nav a img {
    display: inline;
    width: 64px;
    height: auto;
    padding: 15px;
}

footer nav a {
    text-decoration: none;
}

footer p {
    text-align: center;
    color: var(--light-text-color);
    font-size: smaller;
    margin-right: 100px;
}