/* Define CSS Variables */
:root {
    --primary-color: hwb(0 0% 75%);   /* Primary color */
    --secondary-color: hwb(134 0% 69%); /* Secondary color */
    --accent1-color: hsl(0, 0%, 100%);   /* Accent color 1 */
    --accent2-color: #000000;   /* Accent color 2 */
    --light-text-color: hsl(0, 0%, 100%); /* Light text color for dark backgrounds */ 
    --dark-background: #191a19c1; /* Dark background */
    --heading-font: 'Playfair Display', serif;
    --text-font: 'Roboto', sans-serif;
    --threecol: h
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header, main, footer {
    max-width: 950px;
    margin: 0 auto;
}

header {
    display: grid;
    align-items: center;
    grid-template-columns: 100px 1fr;
    grid-gap: 300px;
    background-color: var(--primary-color);

}

header img {
    margin: 0.5rem 0.1rem 0.5rem 10rem;
    width: 100px;
    height: auto;
}

main img {
    width: 100%;
    height: auto;
    padding: 0.1px;
}

figure img {
    padding: 0.1rem;
}
main article img {
    width: 150px;
    height: auto;
    float: right;
}

h2 {
    margin: 0.1rem;
    color: white;
    text-align: center;
    border: 0.1rem;
    padding: 0.1rem;
    background-color: rgb(61, 0, 0);
}

.threecols {
    display: grid;
    grid-template-columns: (1fr 2fr 100px);
    text-align: justify;
    color: #000;
    text-wrap: wrap;
    align-items: center;
}

.threecols p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: justify;
    margin: 2rem;
}
.threecols h2 {
    grid-column: 1/4;
}
article p {
    margin: 100;
}
header nav a {
    color: black;
    flex-shrink: 10px;
    font-weight: bold;
    padding: 10px;
    background-color: aliceblue;
    text-decoration: none;
}
section h2 div img {
    margin: 0rem;
    padding: 0rem;

}
nav a:hover {
    color: var(--secondary-color);
    font-weight: bolder;
    text-decoration: underline;
}

header nav {
    display: flex;
    gap: 1.5rem;
    text-align: center;
}

.hero {
    position: relative;
}

.herodiv img {
    margin: 10rem;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 30px;
    right: 0px;
    left: 0px;
    font-size: 50px;
    color: var(--light-text-color);
    background-color:var(--dark-background);
    text-align: center;
}

article {
    position: absolute;
    bottom: 100px;
    right: 30px;
    background-color: rgba(6, 44, 114, 0.6);
    padding: 5px;
    max-width: 940px;
}

article p {
    color: var(--light-text-color);
}

article img {
    float: right;
    width: 170px;
    height: auto;
    padding: 5px;
}

section {
    margin: 2rem auto;
}

.flex-container {
    display: flex;
    width: 100px;
    flex-direction: row;
    justify-content:space-around;
    gap: 2rem;
    margin: 1rem;
}

section h2 {
    text-align: center;
    font-size: 2rem;
    word-spacing: 5px;
    font-family: var(--heading-font);
    color: var(--accent1-color);
}

h2 img {
    margin: 0.1rem;
}
section p {
    margin: 0 1rem 0 1rem;
    font-family: var(--text-font);
    color: var(--primary-color);
}

section img {
    width: 160px;
    height: auto;
    border: 3px solid var(--primary-color);
    box-shadow: 0 0 20px var(--primary-color);
}

section figcaption {
    text-align: center;
}
footer {
    margin: 0.1rem auto;
    display: grid;
    grid-template-columns: 300px 15fr 300px;
    align-items: center;
    background-color: var(--primary-color);
}

footer nav a img {
    display: inline;
    width: 64px;
    height: auto;
    padding: 15px;
}

footer nav a {
    text-decoration: none;
}

footer p {
    text-align: center;
    color: var(--light-text-color);
    font-size: smaller;
    margin-right: 100px;
}