/* About Us Page CSS */

/* About Us Page - Header Styling */
header {
    margin: 0.1rem auto;
    display: grid;
    align-items: center;
    grid-template-columns: 200px 1fr;
    grid-gap: 30px;
    background-color: var(--primary-color);
  }
  
  header img {
    margin: 0.40rem 0.25rem 0.40rem 5rem;
      width: 84px;
      height: auto;
    justify-content: center;
  }
  
  .navigation {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
      padding: 0;
    justify-content: space-evenly;
  }
  
  .navigation a {
    display: inline;
    color: var(--light-text-color);
    flex-shrink: 0;
    font-weight: bold;
    padding: 20px;
    text-decoration: none;
  }
  
  .navigation a:hover {
      color: var(--secondary-color);
      font-weight: bolder;
      text-decoration: underline;
  }
  
  /* About Us Page - Hero Section Styling */
  .hero {
    position: relative;
  }
  
  .hero img {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .hero h1 {
    position: absolute;
    top: 50px;
    right: 510px;
    color: var(--light-text-color);
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  /* About Us Page - Article Styling */
  article {
    position: absolute;
    bottom: 290px;
    right: 150px;
    background-color: rgba(6, 44, 114, 0.6);
    padding: 5px;
    max-width: 940px;
  }
  
  article p {
    color: var(--light-text-color);
  }
  
  article img {
    float: right;
    width: 170px;
    height: auto;
    padding: 5px;
  }
  
  /* About Us Page - History Section Styling */
  #history {
    margin: 2rem auto;
    display: grid;
  }
  
  #history h2 {
    text-align: center;
    font-size: x-large;
    word-spacing: 5px;
  }
  
  #history img {
    margin: 0 1rem 0 1rem;
    width: 200px;
    height: auto;
    border: 5px solid var(--primary-color);
  }
  
  #history p {
    margin: 0 1rem 0 1rem;
  }
  
  .history-content {
    display: flex;
    justify-content: space-around;
  }
  
  /* About Us Page - Adventures Section Styling */
  #adventures {
    margin: 2rem auto;
    display: grid;
  }
  
  #adventures h2 {
    text-align: center;
    font-size: x-large;
  }
  
  #adventures .adventures-gallery {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  
  .adventures-gallery img {
    display: inline;
    width: 200px;
    height: auto;
    border: 3px solid var(--primary-color);
    box-shadow: 0 0 20px var(--primary-color);
    flex-shrink: 0;
  }
  
  #adventures figure {
    flex: 1;
    text-align: center;
    margin: 1em;
  }
  
  #adventures figcaption {
    margin-top: 0.3em;
    font-style: italic;
    color: var(--primary-color);
  }
  
  /* General Styling for About Us Page */
  h1, h2 {
    font-family: var(--heading-font);
    color: var(--accent1-color);
  }
  
  p {
    font-family: var(--text-font);
    color: var(--primary-color);
    margin: 5px;
    padding-bottom: 10px;
  }
  
  footer {
    margin: 0.1rem auto;
    display: grid;
    grid-template-columns: 300px 1fr 300px;
    align-items: center;
    background-color: var(--primary-color);
  }
  
  footer p {
    text-align: center;
    color: var(--light-text-color);
    font-size: smaller;
    margin-right: 100px;
  }
  
  footer .wireframe a {
    display: inline;
    color: var(--light-text-color);
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    margin-left: 90px;
  }
  
  footer .wireframe a:hover {
    text-decoration: underline;
    color: var(--secondary-color);
    font-weight: bolder;
  }
  
  footer .socialmedia a img {
    width: 64px;
    height: auto;
    padding: 15px;
  }
  
  footer .socialmedia a {
    text-decoration: none;
  }